<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Action</key>
		<string>Informations</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=About</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Accessibilité</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=ACCESSIBILITY</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Mode Avion</string>
		<key>chosenURL</key>
		<string>prefs:root=AIRPLANE_MODE</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Verrouillage Auto.</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=AUTOLOCK</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Bluetooth</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Bluetooth</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Luminosité</string>
		<key>chosenURL</key>
		<string>prefs:root=Brightness</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Afficher mon numéro</string>
		<key>chosenURL</key>
		<string>prefs:root=Phone&amp;path=CallerID</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Utilisation cellulaire</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=USAGE/CELLULAR_USAGE</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Date et Heure</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=DATE_AND_TIME</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>FaceTime</string>
		<key>chosenURL</key>
		<string>prefs:root=FACETIME</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Général</string>
		<key>chosenURL</key>
		<string>prefs:root=General</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>iCloud</string>
		<key>chosenURL</key>
		<string>prefs:root=CASTLE</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>iCloud Stockage et sauvegarde</string>
		<key>chosenURL</key>
		<string>prefs:root=CASTLE&amp;path=STORAGE_AND_BACKUP</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Messages</string>
		<key>chosenURL</key>
		<string>prefs:root=MESSAGES</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>International</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=INTERNATIONAL</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Clavier</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Keyboard</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Services de localisation</string>
		<key>chosenURL</key>
		<string>prefs:root=LOCATION_SERVICES</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Mail, Contacts, Calendrier</string>
		<key>chosenURL</key>
		<string>prefs:root=ACCOUNT_SETTINGS</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Musique</string>
		<key>chosenURL</key>
		<string>prefs:root=MUSIC</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Volume maximum</string>
		<key>chosenURL</key>
		<string>prefs:root=MUSIC&amp;path=VolumeLimit</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Réseau</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Network</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Nike</string>
		<key>chosenURL</key>
		<string>prefs:root=NIKE_PLUS_IPOD</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Notes</string>
		<key>chosenURL</key>
		<string>prefs:root=NOTES</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Notifications</string>
		<key>chosenURL</key>
		<string>prefs:root=NOTIFICATIONS_ID</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Partage de connexion</string>
		<key>chosenURL</key>
		<string>prefs:root=INTERNET_TETHERING</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Téléphone</string>
		<key>chosenURL</key>
		<string>prefs:root=Phone</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Photos</string>
		<key>chosenURL</key>
		<string>prefs:root=Photos</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Profils</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=ManagedConfigurationList</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Réinitialiser</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Reset</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Sonnerie</string>
		<key>chosenURL</key>
		<string>prefs:root=Sounds&amp;path=Ringtone</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Safari</string>
		<key>chosenURL</key>
		<string>prefs:root=Safari</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Mise à jour logicielle</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=SOFTWARE_UPDATE_LINK</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Sons</string>
		<key>chosenURL</key>
		<string>prefs:root=Sounds</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Store</string>
		<key>chosenURL</key>
		<string>prefs:root=STORE</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Twitter</string>
		<key>chosenURL</key>
		<string>prefs:root=TWITTER</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Utilisation</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=USAGE</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Vidéo</string>
		<key>chosenURL</key>
		<string>prefs:root=VIDEO</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>VPN</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Network/VPN</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Fond d'écran</string>
		<key>chosenURL</key>
		<string>prefs:root=Wallpaper</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Wi-Fi</string>
		<key>chosenURL</key>
		<string>prefs:root=WIFI</string>
	</dict>
</array>
</plist>
