<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Action</key>
		<string>Info</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=About</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Bedienungshilfen</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=ACCESSIBILITY</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Flugmodus</string>
		<key>chosenURL</key>
		<string>prefs:root=AIRPLANE_MODE</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Automatische Sperre</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=AUTOLOCK</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Bluetooth</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Bluetooth</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Helligkeit</string>
		<key>chosenURL</key>
		<string>prefs:root=Brightness</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Rufnummer senden</string>
		<key>chosenURL</key>
		<string>prefs:root=Phone&amp;path=CallerID</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Mobile Datennutzung</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=USAGE/CELLULAR_USAGE</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Datum &amp; Uhrzeit</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=DATE_AND_TIME</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>FaceTime</string>
		<key>chosenURL</key>
		<string>prefs:root=FACETIME</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Allgemein</string>
		<key>chosenURL</key>
		<string>prefs:root=General</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>iCloud</string>
		<key>chosenURL</key>
		<string>prefs:root=CASTLE</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>iCloud Speicher &amp; Backup</string>
		<key>chosenURL</key>
		<string>prefs:root=CASTLE&amp;path=STORAGE_AND_BACKUP</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Nachrichten</string>
		<key>chosenURL</key>
		<string>prefs:root=MESSAGES</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Landeseinstellungen</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=INTERNATIONAL</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Tastatur</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Keyboard</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Ortungsdienste</string>
		<key>chosenURL</key>
		<string>prefs:root=LOCATION_SERVICES</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Mail, Kontakte, Kalender</string>
		<key>chosenURL</key>
		<string>prefs:root=ACCOUNT_SETTINGS</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Musik</string>
		<key>chosenURL</key>
		<string>prefs:root=MUSIC</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Maximale Lautstärke</string>
		<key>chosenURL</key>
		<string>prefs:root=MUSIC&amp;path=VolumeLimit</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Netzwerk</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Network</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Nike</string>
		<key>chosenURL</key>
		<string>prefs:root=NIKE_PLUS_IPOD</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Notizen</string>
		<key>chosenURL</key>
		<string>prefs:root=NOTES</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Mitteilungen</string>
		<key>chosenURL</key>
		<string>prefs:root=NOTIFICATIONS_ID</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Persönlicher Hotspot</string>
		<key>chosenURL</key>
		<string>prefs:root=INTERNET_TETHERING</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Telefon</string>
		<key>chosenURL</key>
		<string>prefs:root=Phone</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Fotos</string>
		<key>chosenURL</key>
		<string>prefs:root=Photos</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Profile</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=ManagedConfigurationList</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Zurücksetzen</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Reset</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Klingelton</string>
		<key>chosenURL</key>
		<string>prefs:root=Sounds&amp;path=Ringtone</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Safari</string>
		<key>chosenURL</key>
		<string>prefs:root=Safari</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Softwareaktualisierung</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=SOFTWARE_UPDATE_LINK</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Töne</string>
		<key>chosenURL</key>
		<string>prefs:root=Sounds</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Store</string>
		<key>chosenURL</key>
		<string>prefs:root=STORE</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Twitter</string>
		<key>chosenURL</key>
		<string>prefs:root=TWITTER</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Benutzung</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=USAGE</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Video</string>
		<key>chosenURL</key>
		<string>prefs:root=VIDEO</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>VPN</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Network/VPN</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Hintergrundbild</string>
		<key>chosenURL</key>
		<string>prefs:root=Wallpaper</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>WLAN</string>
		<key>chosenURL</key>
		<string>prefs:root=WIFI</string>
	</dict>
</array>
</plist>
