<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Action</key>
		<string>About</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=About</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Accessibility</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=ACCESSIBILITY</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Airplane Mode</string>
		<key>chosenURL</key>
		<string>prefs:root=AIRPLANE_MODE</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Autolock</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=AUTOLOCK</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Bluetooth</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Bluetooth</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Brightness</string>
		<key>chosenURL</key>
		<string>prefs:root=Brightness</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Caller ID</string>
		<key>chosenURL</key>
		<string>prefs:root=Phone&amp;path=CallerID</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Cellular Usage</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=USAGE/CELLULAR_USAGE</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Date &amp; Time</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=DATE_AND_TIME</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Facetime</string>
		<key>chosenURL</key>
		<string>prefs:root=FACETIME</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>General</string>
		<key>chosenURL</key>
		<string>prefs:root=General</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>iCloud</string>
		<key>chosenURL</key>
		<string>prefs:root=CASTLE</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>iCloud Storage &amp; Backup</string>
		<key>chosenURL</key>
		<string>prefs:root=CASTLE&amp;path=STORAGE_AND_BACKUP</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>iMessage</string>
		<key>chosenURL</key>
		<string>prefs:root=MESSAGES</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>International</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=INTERNATIONAL</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Keyboard</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Keyboard</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Location Services</string>
		<key>chosenURL</key>
		<string>prefs:root=LOCATION_SERVICES</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Mail, Contacts, Calendars</string>
		<key>chosenURL</key>
		<string>prefs:root=ACCOUNT_SETTINGS</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Music</string>
		<key>chosenURL</key>
		<string>prefs:root=MUSIC</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Music Volume</string>
		<key>chosenURL</key>
		<string>prefs:root=MUSIC&amp;path=VolumeLimit</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Network</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Network</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Nike</string>
		<key>chosenURL</key>
		<string>prefs:root=NIKE_PLUS_IPOD</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Notes</string>
		<key>chosenURL</key>
		<string>prefs:root=NOTES</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Notifications</string>
		<key>chosenURL</key>
		<string>prefs:root=NOTIFICATIONS_ID</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Personal Hotspot</string>
		<key>chosenURL</key>
		<string>prefs:root=INTERNET_TETHERING</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Phone</string>
		<key>chosenURL</key>
		<string>prefs:root=Phone</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Photos</string>
		<key>chosenURL</key>
		<string>prefs:root=Photos</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Profiles</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=ManagedConfigurationList</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Reset</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Reset</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Ringtones</string>
		<key>chosenURL</key>
		<string>prefs:root=Sounds&amp;path=Ringtone</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Safari</string>
		<key>chosenURL</key>
		<string>prefs:root=Safari</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Software Update</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=SOFTWARE_UPDATE_LINK</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Sounds</string>
		<key>chosenURL</key>
		<string>prefs:root=Sounds</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Store</string>
		<key>chosenURL</key>
		<string>prefs:root=STORE</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Twitter</string>
		<key>chosenURL</key>
		<string>prefs:root=TWITTER</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Usage</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=USAGE</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Video</string>
		<key>chosenURL</key>
		<string>prefs:root=VIDEO</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>VPN</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Network/VPN</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Wallpaper</string>
		<key>chosenURL</key>
		<string>prefs:root=Wallpaper</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Wifi</string>
		<key>chosenURL</key>
		<string>prefs:root=WIFI</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
</array>
</plist>
