<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Action</key>
		<string>Información</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=About</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Accesibilidad</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=ACCESSIBILITY</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Modo Avión</string>
		<key>chosenURL</key>
		<string>prefs:root=AIRPLANE_MODE</string>
        <key>Icon</key>
		<string>settingsIcon</string>
    </dict>
	<dict>
		<key>Action</key>
		<string>Bloqueo automático</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=AUTOLOCK</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Bluetooth</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Bluetooth</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Brillo</string>
		<key>chosenURL</key>
		<string>prefs:root=Brightness</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Mostrar ID de llamada</string>
		<key>chosenURL</key>
		<string>prefs:root=Phone&amp;path=CallerID</string>
        <key>Icon</key>
		<string>settingsIcon</string></dict>
	<dict>
		<key>Action</key>
		<string>Uso de la red móvil</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=USAGE/CELLULAR_USAGE</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Fecha y hora</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=DATE_AND_TIME</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>FaceTime</string>
		<key>chosenURL</key>
		<string>prefs:root=FACETIME</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>General</string>
		<key>chosenURL</key>
		<string>prefs:root=General</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>iCloud</string>
		<key>chosenURL</key>
		<string>prefs:root=CASTLE</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>iCloud de Almacenamiento y copias</string>
		<key>chosenURL</key>
		<string>prefs:root=CASTLE&amp;path=STORAGE_AND_BACKUP</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Mensajes</string>
		<key>chosenURL</key>
		<string>prefs:root=MESSAGES</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Internacional</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=INTERNATIONAL</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Teclado</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Keyboard</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Localización</string>
		<key>chosenURL</key>
		<string>prefs:root=LOCATION_SERVICES</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Correo, Contactos, Calendario</string>
		<key>chosenURL</key>
		<string>prefs:root=ACCOUNT_SETTINGS</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Música</string>
		<key>chosenURL</key>
		<string>prefs:root=MUSIC</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Limite de volumen</string>
		<key>chosenURL</key>
		<string>prefs:root=MUSIC&amp;path=VolumeLimit</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Red</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Network</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Nike</string>
		<key>chosenURL</key>
		<string>prefs:root=NIKE_PLUS_IPOD</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Notas</string>
		<key>chosenURL</key>
		<string>prefs:root=NOTES</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Notificaciones</string>
		<key>chosenURL</key>
		<string>prefs:root=NOTIFICATIONS_ID</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Compartir Internet</string>
		<key>chosenURL</key>
		<string>prefs:root=INTERNET_TETHERING</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Teléfono</string>
		<key>chosenURL</key>
		<string>prefs:root=Phone</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Fotos</string>
		<key>chosenURL</key>
		<string>prefs:root=Photos</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Perfiles</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=ManagedConfigurationList</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Restablecer</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Reset</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Tono de llamada</string>
		<key>chosenURL</key>
		<string>prefs:root=Sounds&amp;path=Ringtone</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Safari</string>
		<key>chosenURL</key>
		<string>prefs:root=Safari</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Actualización de software</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=SOFTWARE_UPDATE_LINK</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Sonidos</string>
		<key>chosenURL</key>
		<string>prefs:root=Sounds</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Store</string>
		<key>chosenURL</key>
		<string>prefs:root=STORE</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Twitter</string>
		<key>chosenURL</key>
		<string>prefs:root=TWITTER</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Uso</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=USAGE</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Vídeo</string>
		<key>chosenURL</key>
		<string>prefs:root=VIDEO</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>VPN</string>
		<key>chosenURL</key>
		<string>prefs:root=General&amp;path=Network/VPN</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Fondo de pantalla</string>
		<key>chosenURL</key>
		<string>prefs:root=Wallpaper</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
	<dict>
		<key>Action</key>
		<string>Wi-Fi</string>
		<key>chosenURL</key>
		<string>prefs:root=WIFI</string>
        <key>Icon</key>
		<string>settingsIcon</string>
	</dict>
</array>
</plist>
